{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="shortcut icon" href="{% static 'images/icon.jpg' %}" type="image/png">
<link rel="stylesheet" href="{% static 'styles/base.css' %}"/>
<link rel="stylesheet" href="{% static 'styles/books.css' %}"/>
<link rel="stylesheet" href="{% static 'styles/button.css' %}"/>
{% endblock style %}
{% block title %}active books{% endblock title %}
{% block content %}
<div class="return">
    <div class="button" id="button-3">
        <div id="circle"></div>
        <a href="{% url 'books:choice' %}">Вернуться</a>
    </div>
</div><br>
<div class="conteiner">
    {% for book in books %}
    <div class="book" id="{{ book.id }}">
        <img src="">
        <span>Название: {{book.title}}</span> 
        <br>
        <span>Код книги: {{book.code}}</span>
        <br>
        <div class="button" id="button-3">
            <div id="circle"></div>
            <a href="{% url 'books:take-book' book_id=book.id %}">Взять</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}
