{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="shortcut icon" href="{% static 'images/icon.jpg' %}" type="image/png">
<link rel="stylesheet" href="{% static 'styles/choice.css' %}"/>
<link rel="stylesheet" href="{% static 'styles/button.css' %}"/>
{% endblock style %}
{% block title %}choice{% endblock title %}
{% block content %}
<div class="container">
    <div class="button" id="button-3">
        <div id="circle"></div>
        <a href="{% url 'books:active-books' %}">Взять книгу</a>
    </div>
    <div class="button" id="button-3">
        <div id="circle"></div>
        <a href="{% url 'books:arrears' %}">Вернуть книгу</a>
    </div>
    <div class="button" id="button-3">
        <div id="circle"></div>
        <a href="{% url 'accounts:logout' %}">Завершить сеанс</a>
    </div>
</div>
{% endblock content %}
