<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>readers</title>
</head>
<body>
    <h2>Читатели</h2>
    <button><a href="accounts/registration/">Добавить читателя</a></button>
    <div>
        {% for reader in readers %}
            <p>{{ reader.last_name }} {{ reader.first_name }} {{ reader.patronymic }} <button><a href="books/choice/{{ reader.id }}/">Перейти</a></button></p>
        {% endfor %}
    </div>
</body>
</html>