{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="shortcut icon" href="{% static 'images/icon.jpg' %}" type="image/png">
<link rel="stylesheet" href="{% static 'styles/base.css' %}"/>
<link rel="stylesheet" href="{% static 'styles/index.css' %}"/>
<link rel="stylesheet" href="{% static 'styles/button.css' %}"/>
{% endblock style %}
{% block title %}readers{% endblock title %}
{% block content %}
<span class="text">Список читателей</span><br>
<div class="add">
    <div class="button" id="button-3">
        <div id="circle"></div>
        <a href="{% url 'accounts:registration' %}">Добавить</a>
    </div>
</div><br>
<div class="conteiner">
    {% for reader in readers %}
    <div class='reader' id="{{reader.id}}">
        {{ reader.user.last_name }}<br> 
        {{ reader.user.first_name }}<br>
        {{ reader.patronymic }}<br>
        {% if reader.short_description %}
        {{ reader.short_description }}<br>
        {% endif %}
        <div class="button" id="button-3">
            <div id="circle"></div>
            <a href="{% url 'accounts:login' %}">Перейти</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}