{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/return.css' %}"/>
    <link rel="stylesheet" href="{% static 'styles/button.css' %}"/>
    <title>return book</title>
</head>
<body>
    <div class="title">LIBRARY</div>
    <span class="text">Книги которые можно вернуть</span><br>
    <div class="return">
        <div class="button" id="button-3">
            <div id="circle"></div>
            <a href="">Вернуться</a>
        </div>
    </div><br>
    <div class="container">
        {% for book in books %}
        <div class="book" id="{{ book.id }}">
            <img src="">
            <span>Название: {{book.title}}</span> 
            <br>
            <span>Код книги: {{book.code}}</span>
            <br>
            <div class="button" id="button-3">
                <div id="circle"></div>
                <a href="{{ book.id }}/">Вернуть</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>