{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="shortcut icon" href="{% static 'images/icon.jpg' %}" type="image/png">
<link rel="stylesheet" href="{% static 'styles/base.css' %}"/>
<link rel="stylesheet" href="{% static 'styles/accounts.css' %}"/>
{% endblock style %}
{% block title %}login{% endblock title %}
{% block content %}
<span class="text">Авторизация</span><br>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <p><button type="submit">Войти</button></p>
    </form>
</div>
{% endblock content %}
