{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="shortcut icon" href="{% static 'images/icon.jpg' %}" type="image/png">
<link rel="stylesheet" href="{% static 'styles/registration.css' %}"/>
{% endblock style %}
{% block title %}registration{% endblock title %}
{% block content %}
<span class="text">Регистрация</span><br>
<div class="container">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Отправить</button>
    </form>
</div>
{% endblock content %}
