body {
    background-color: blanchedalmond;
}

.title {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: Times, Times New Roman, serif;
    font-size: 128pt;
    color:#1a1a1a;
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}