body {
    background-color: blanchedalmond;
}

.title {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: Times, Times New Roman, serif;
    font-size: 127pt;
    color:#1a1a1a;
}

span.text {
    display: flex;
    justify-content: start;
    color: black;
    font-size: 24pt;
}

form {
    border:1px solid #ccc; 
    border-radius:5px;
    height:25px;
    width:200px;
    margin: 10px 10px 10px 0;
}
